:root {
  --primary-color: #999273;
  --secondary-color: #ffc30f;
  --white: #ffffff;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #444;
}

a {
  color: (var(--secondary-color));
}

a:hover {
  text-decoration: none;
}
.sign-form {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Raleway, sans-serif;
}
h4{
  color: var(--white);
}

#header {
  background: var(--white);
  transition: all 0.5s;
  padding: 20px 0;
}

#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  font-family: Poppins, sans-serif;
}
#header .logo a {
  color: #111;
}
#header .logo span {
  color: var(--secondary-color);
}

.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-menu > ul {
  display: flex;
}
.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 28px;
}
.nav-menu a {
  display: block;
  position: relative;
  color: #111;
  transition: 0.3s;
  font-size: 15px;
  font-weight: 600;
  font-family: Raleway, sans-serif;
}
.nav-menu a:hover,
.nav-menu li:hover > a {
  color: var(--secondary-color);
}
.get-started-btn {
  margin-left: 25px;
  background: var(--secondary-color);
  color: var(--white) !important;
  border-radius: 4px;
  padding: 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
}
.get-started-btn:hover {
  background: #111;
  color: var(--white);
}

#hero {
  width: 100%;
  height: 100vh;
  background: url(./img/pexels-pixabay-159291.jpg) top center no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 82px;
}

#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  color: var(--white);
}
#hero h2 {
  color: var(--white);
  margin: 10px 0 0 0;
  font-size: 24px;
}
#hero .btn-get-started {
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 4px;
  transition: 0.5s;
  margin-top: 30px;
  color: #fff;
  background: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}
#hero .btn-get-started:hover {
  background: 0 0;
  border-color: #fff;
}
#hero span {
  color: var(--secondary-color);
}

section {
  padding: 60px 0;
  overflow: hidden;
  position: relative;
}
.section-title {
  text-align: center;
  padding-bottom: 30px;
  position: relative;
}
.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: var(--secondary-color);
  bottom: 0;
  left: calc(50% - 25px);
}
.section-title p {
  margin-bottom: 0;
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 400px;
  position: fixed;
  height: 100%;
  overflow: auto;
}
.main {
  margin-left: 400px;
  padding: 0px 10px;
}

.text-pri {
  color: var(--primary-color);
}

.text-pri :hover {
  color: rgba(0, 0, 0, 0.6);
}

.text-sec {
  color: var(--secondary-color);
}

.text-sec :hover {
  color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 768px) {
  #hero {
    text-align: center;
    padding-top: 58px;
  }
  #hero h1 {
    font-size: 28px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
}
@media (max-height: 500px) {
  #hero {
    height: 120vh;
  }
}

@media (max-width: 992px) {
  .get-started-btn {
    margin: 0 48px 0 0;
    padding: 6px 18px;
  }
}

@media (max-width: 992px) {
  #header {
    padding: 12px 0;
  }
  #header .logo {
    font-size: 28px;
  }
}

@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
